openapi: 3.1.0
info:
  title: Assembled Activities Event Changes API
  description: 'Activities are the scheduled shifts, breaks, time-off blocks, training

    sessions, and meetings that make up an agent''s calendar in Assembled.


    The Activities API supports single and bulk activity creation, listing

    with rich filters, soft-delete semantics, and CRUD for activity types

    (the colour-coded categories shown on schedules). The event_changes

    endpoint surfaces an audit trail of schedule modifications.

    '
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
- url: https://api.assembledhq.com
  description: Production Server
security:
- BasicAuth: []
tags:
- name: Event Changes
  description: Audit trail of schedule modifications
paths:
  /v0/event_changes:
    get:
      summary: Assembled List Event Changes
      description: Retrieve the audit trail of schedule modifications across activities.
      operationId: listEventChanges
      tags:
      - Event Changes
      parameters:
      - in: query
        name: start_time
        required: true
        schema:
          type: string
          format: date-time
      - in: query
        name: end_time
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Event changes
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_changes:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventChange'
components:
  schemas:
    EventChange:
      type: object
      properties:
        id:
          type: string
        event_id:
          type: string
        change_type:
          type: string
          enum:
          - create
          - update
          - delete
        changed_by:
          type: string
        changed_at:
          type: string
          format: date-time
        diff:
          type: object
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
