openapi: 3.1.0
info:
  title: Assembled Activities Forecast Outliers API
  description: 'Activities are the scheduled shifts, breaks, time-off blocks, training

    sessions, and meetings that make up an agent''s calendar in Assembled.


    The Activities API supports single and bulk activity creation, listing

    with rich filters, soft-delete semantics, and CRUD for activity types

    (the colour-coded categories shown on schedules). The event_changes

    endpoint surfaces an audit trail of schedule modifications.

    '
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
- url: https://api.assembledhq.com
  description: Production Server
security:
- BasicAuth: []
tags:
- name: Forecast Outliers
paths:
  /v0/forecasts/outliers:
    get:
      summary: Assembled List Forecast Outliers
      operationId: listForecastOutliers
      tags:
      - Forecast Outliers
      responses:
        '200':
          description: Outliers
          content:
            application/json:
              schema:
                type: object
                properties:
                  outliers:
                    type: array
                    items:
                      $ref: '#/components/schemas/ForecastOutlier'
  /v0/forecasts/outliers/bulk:
    post:
      summary: Assembled Bulk Create Forecast Outliers
      operationId: bulkCreateForecastOutliers
      tags:
      - Forecast Outliers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                outliers:
                  type: array
                  items:
                    $ref: '#/components/schemas/ForecastOutlier'
      responses:
        '201':
          description: Created
  /v0/forecasts/outliers/{id}:
    delete:
      summary: Assembled Delete Forecast Outlier
      operationId: deleteForecastOutlier
      tags:
      - Forecast Outliers
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  schemas:
    ForecastOutlier:
      type: object
      properties:
        id:
          type: string
        queue_id:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        reason:
          type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
