openapi: 3.1.0
info:
  title: Assembled Scheduling Rules API
  description: |
    Retrieve the working-hours rules that constrain when each agent may be
    scheduled.

    Working hours are the structured replacement for the now-deprecated
    shift_patterns endpoints and are honoured by Assembled's AI-powered
    schedule generation engine.
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
  - url: https://api.assembledhq.com
    description: Production Server
security:
  - BasicAuth: []
tags:
  - name: Working Hours
paths:
  /v0/scheduling_rules/working_hours:
    get:
      summary: Assembled List Working Hours
      operationId: listWorkingHours
      tags: [Working Hours]
      parameters:
        - in: query
          name: agent_id
          schema: { type: string }
      responses:
        '200':
          description: Working hours rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  working_hours:
                    type: array
                    items: { $ref: '#/components/schemas/WorkingHoursRule' }
  /v0/scheduling_rules/working_hours/{id}:
    get:
      summary: Assembled Get Working Hours Rule
      operationId: getWorkingHoursRule
      tags: [Working Hours]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Working hours rule
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkingHoursRule' }
components:
  securitySchemes:
    BasicAuth: { type: http, scheme: basic }
  schemas:
    WorkingHoursRule:
      type: object
      properties:
        id: { type: string }
        agent_id: { type: string }
        timezone: { type: string }
        weekly_pattern:
          type: array
          items:
            type: object
            properties:
              day_of_week: { type: string, enum: [monday, tuesday, wednesday, thursday, friday, saturday, sunday] }
              start_time: { type: string, example: '09:00' }
              end_time: { type: string, example: '17:00' }
        effective_from: { type: string, format: date }
        effective_to: { type: string, format: date, nullable: true }
