openapi: 3.2.0
info:
  title: Assembled Filters Teams API
  description: 'Manage the four organizational filter dimensions used throughout

    Assembled — Queues, Sites, Teams, and Skills.


    Each filter is fully CRUD-capable. Queues map to channels and case

    types, Sites represent physical or virtual locations, Teams group

    people, and Skills describe routing-relevant capabilities. People,

    activities, forecasts, requirements, and reports all reference these

    filters.'
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
- url: https://api.assembledhq.com
  description: Production Server
security:
- BasicAuth: []
tags:
- name: Teams
paths:
  /v0/teams:
    get:
      summary: Assembled List Teams
      operationId: listTeams
      tags:
      - Teams
      responses:
        '200':
          description: Teams
          content:
            application/json:
              schema:
                type: object
                properties:
                  teams:
                    type: array
                    items:
                      $ref: '#/components/schemas/Filter'
    post:
      summary: Assembled Create Team
      operationId: createTeam
      tags:
      - Teams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterInput'
      responses:
        '201':
          description: Created
    delete:
      summary: Assembled Delete Teams
      operationId: deleteTeams
      tags:
      - Teams
      parameters:
      - in: query
        name: ids
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
  /v0/teams/{id}:
    put:
      summary: Assembled Update Team
      operationId: updateTeam
      tags:
      - Teams
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterInput'
      responses:
        '200':
          description: Updated
components:
  schemas:
    Filter:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        external_id:
          type: string
        channel:
          type: string
          description: Queues only — phone, email, chat, sms, social, back_office
        timezone:
          type: string
          description: Sites only
        created_at:
          type: string
          format: date-time
    FilterInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        external_id:
          type: string
        channel:
          type: string
        timezone:
          type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
