openapi: 3.2.0
info:
  title: Assembled Assist Assist Responses API
  description: 'The AI surface of Assembled.


    Submit chat responses generated by AI Agents, manage the knowledge

    articles AI Agents draw from, retrieve conversation histories and

    handoff payloads, and (beta) post AI replies. Powers autonomous

    resolution across chat, email, SMS, and voice plus smart handoffs to

    human agents.'
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
- url: https://api.assembledhq.com
  description: Production Server
security:
- BasicAuth: []
tags:
- name: Assist Responses
paths:
  /v0/assist/responses:
    post:
      summary: Assembled Submit Assist Response
      description: Submit a chat response generated by an Assembled AI Agent.
      operationId: submitAssistResponse
      tags:
      - Assist Responses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssistResponseInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistResponse'
  /v0/assist/responses/handoff:
    get:
      summary: Assembled Get Assist Response Handoff
      description: Retrieve handoff payloads for responses that escalated to a human agent.
      operationId: getAssistResponseHandoff
      tags:
      - Assist Responses
      parameters:
      - in: query
        name: conversation_id
        schema:
          type: string
      - in: query
        name: since
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Handoff payloads
          content:
            application/json:
              schema:
                type: object
                properties:
                  handoffs:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssistHandoff'
components:
  schemas:
    AssistResponseInput:
      type: object
      required:
      - conversation_id
      - body
      properties:
        conversation_id:
          type: string
        channel:
          type: string
          enum:
          - chat
          - email
          - sms
          - voice
        body:
          type: string
        confidence:
          type: number
        model:
          type: string
        cited_article_ids:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true
    AssistHandoff:
      type: object
      properties:
        id:
          type: string
        conversation_id:
          type: string
        handed_off_at:
          type: string
          format: date-time
        reason:
          type: string
        summary:
          type: string
        transcript:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
                enum:
                - customer
                - ai
                - human
              content:
                type: string
              timestamp:
                type: string
                format: date-time
    AssistResponse:
      allOf:
      - $ref: '#/components/schemas/AssistResponseInput'
      - type: object
        properties:
          id:
            type: string
          created_at:
            type: string
            format: date-time
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
