openapi: 3.1.0
info:
  title: Assembled Activities Forecasts Vs Actuals API
  description: 'Activities are the scheduled shifts, breaks, time-off blocks, training

    sessions, and meetings that make up an agent''s calendar in Assembled.


    The Activities API supports single and bulk activity creation, listing

    with rich filters, soft-delete semantics, and CRUD for activity types

    (the colour-coded categories shown on schedules). The event_changes

    endpoint surfaces an audit trail of schedule modifications.

    '
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
- url: https://api.assembledhq.com
  description: Production Server
security:
- BasicAuth: []
tags:
- name: Forecasts Vs Actuals
paths:
  /v0/forecasted_vs_actuals:
    get:
      summary: Assembled Get Forecasted Vs Actuals
      operationId: getForecastedVsActuals
      tags:
      - Forecasts Vs Actuals
      parameters:
      - in: query
        name: start_time
        required: true
        schema:
          type: string
          format: date-time
      - in: query
        name: end_time
        required: true
        schema:
          type: string
          format: date-time
      - in: query
        name: queue_ids
        schema:
          type: string
      responses:
        '200':
          description: Forecast accuracy series
          content:
            application/json:
              schema:
                type: object
                properties:
                  intervals:
                    type: array
                    items:
                      type: object
                      properties:
                        start_time:
                          type: string
                          format: date-time
                        forecasted:
                          type: number
                        actual:
                          type: number
                        delta:
                          type: number
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
