openapi: 3.2.0
info:
  title: Assembled Activities Requirements API
  description: 'Activities are the scheduled shifts, breaks, time-off blocks, training

    sessions, and meetings that make up an agent''s calendar in Assembled.


    The Activities API supports single and bulk activity creation, listing

    with rich filters, soft-delete semantics, and CRUD for activity types

    (the colour-coded categories shown on schedules). The event_changes

    endpoint surfaces an audit trail of schedule modifications.'
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
- url: https://api.assembledhq.com
  description: Production Server
security:
- BasicAuth: []
tags:
- name: Requirements
paths:
  /v0/requirements:
    get:
      summary: Assembled List Requirements
      operationId: listRequirements
      tags:
      - Requirements
      parameters:
      - in: query
        name: start_time
        required: true
        schema:
          type: string
          format: date-time
      - in: query
        name: end_time
        required: true
        schema:
          type: string
          format: date-time
      - in: query
        name: queue_ids
        schema:
          type: string
      responses:
        '200':
          description: Requirements
          content:
            application/json:
              schema:
                type: object
                properties:
                  requirements:
                    type: array
                    items:
                      $ref: '#/components/schemas/Requirement'
    post:
      summary: Assembled Create Requirement
      operationId: createRequirement
      tags:
      - Requirements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequirementInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Requirement'
components:
  schemas:
    RequirementInput:
      type: object
      required:
      - requirement_type_id
      - start_time
      - end_time
      - required_count
      properties:
        requirement_type_id:
          type: string
        queue_id:
          type: string
        site_id:
          type: string
        team_id:
          type: string
        skill_id:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        required_count:
          type: number
    Requirement:
      type: object
      properties:
        id:
          type: string
        requirement_type_id:
          type: string
        queue_id:
          type: string
          nullable: true
        site_id:
          type: string
          nullable: true
        team_id:
          type: string
          nullable: true
        skill_id:
          type: string
          nullable: true
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        required_count:
          type: number
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
