openapi: 3.1.0
info:
  title: Assembled Activities Forecast Totals API
  description: 'Activities are the scheduled shifts, breaks, time-off blocks, training

    sessions, and meetings that make up an agent''s calendar in Assembled.


    The Activities API supports single and bulk activity creation, listing

    with rich filters, soft-delete semantics, and CRUD for activity types

    (the colour-coded categories shown on schedules). The event_changes

    endpoint surfaces an audit trail of schedule modifications.

    '
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
- url: https://api.assembledhq.com
  description: Production Server
security:
- BasicAuth: []
tags:
- name: Forecast Totals
paths:
  /v0/forecasts/totals:
    get:
      summary: Assembled List Forecast Totals
      operationId: listForecastTotals
      tags:
      - Forecast Totals
      parameters:
      - in: query
        name: start_time
        required: true
        schema:
          type: string
          format: date-time
      - in: query
        name: end_time
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Forecast totals
          content:
            application/json:
              schema:
                type: object
                properties:
                  totals:
                    type: array
                    items:
                      $ref: '#/components/schemas/ForecastTotal'
    post:
      summary: Assembled Create Forecast Totals
      operationId: createForecastTotals
      tags:
      - Forecast Totals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                totals:
                  type: array
                  items:
                    $ref: '#/components/schemas/ForecastTotalInput'
      responses:
        '201':
          description: Created
  /v0/forecasts/totals/{id}:
    get:
      summary: Assembled Get Forecast Total
      operationId: getForecastTotal
      tags:
      - Forecast Totals
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Forecast total
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastTotal'
    delete:
      summary: Assembled Delete Forecast Total
      operationId: deleteForecastTotal
      tags:
      - Forecast Totals
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  schemas:
    ForecastTotal:
      type: object
      properties:
        id:
          type: string
        queue_id:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        total_volume:
          type: number
    ForecastTotalInput:
      type: object
      properties:
        queue_id:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        total_volume:
          type: number
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
