openapi: 3.1.0
info:
  title: Assembled Activities API
  description: 'Activities are the scheduled shifts, breaks, time-off blocks, training

    sessions, and meetings that make up an agent''s calendar in Assembled.


    The Activities API supports single and bulk activity creation, listing

    with rich filters, soft-delete semantics, and CRUD for activity types

    (the colour-coded categories shown on schedules). The event_changes

    endpoint surfaces an audit trail of schedule modifications.

    '
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
- url: https://api.assembledhq.com
  description: Production Server
security:
- BasicAuth: []
tags:
- name: Activities
  description: Scheduled activities on an agent's calendar
paths:
  /v0/activities:
    get:
      summary: Assembled List Activities
      description: List activities for a time window, optionally filtered by agent, queue, site, or type.
      operationId: listActivities
      tags:
      - Activities
      parameters:
      - $ref: '#/components/parameters/ApiVersionHeader'
      - in: query
        name: start_time
        required: true
        schema:
          type: string
          format: date-time
      - in: query
        name: end_time
        required: true
        schema:
          type: string
          format: date-time
      - in: query
        name: agent_ids
        schema:
          type: string
      - in: query
        name: queue_ids
        schema:
          type: string
      - in: query
        name: activity_type_id
        schema:
          type: string
      responses:
        '200':
          description: Activities list
          content:
            application/json:
              schema:
                type: object
                properties:
                  activities:
                    type: array
                    items:
                      $ref: '#/components/schemas/Activity'
    post:
      summary: Assembled Create Activity
      description: Create a single activity.
      operationId: createActivity
      tags:
      - Activities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
    delete:
      summary: Assembled Delete Activities
      description: Soft-delete one or more activities by ID.
      operationId: deleteActivities
      tags:
      - Activities
      parameters:
      - in: query
        name: ids
        required: true
        schema:
          type: string
          description: Comma-separated list of activity IDs
      responses:
        '204':
          description: Deleted
  /v0/activities/bulk:
    post:
      summary: Assembled Bulk Create Activities
      description: Create many activities in a single request.
      operationId: bulkCreateActivities
      tags:
      - Activities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                activities:
                  type: array
                  items:
                    $ref: '#/components/schemas/ActivityInput'
      responses:
        '201':
          description: Created
components:
  schemas:
    ActivityInput:
      type: object
      required:
      - agent_id
      - activity_type_id
      - start_time
      - end_time
      properties:
        agent_id:
          type: string
        activity_type_id:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        queue_ids:
          type: array
          items:
            type: string
        site_id:
          type: string
        notes:
          type: string
        external_id:
          type: string
    Activity:
      type: object
      properties:
        id:
          type: string
        agent_id:
          type: string
        activity_type_id:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        queue_ids:
          type: array
          items:
            type: string
        site_id:
          type: string
          nullable: true
        notes:
          type: string
        external_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  parameters:
    ApiVersionHeader:
      in: header
      name: API-Version
      required: false
      schema:
        type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
