openapi: 3.1.0
info:
  title: Assembled Activities Agent Associations API
  description: 'Activities are the scheduled shifts, breaks, time-off blocks, training

    sessions, and meetings that make up an agent''s calendar in Assembled.


    The Activities API supports single and bulk activity creation, listing

    with rich filters, soft-delete semantics, and CRUD for activity types

    (the colour-coded categories shown on schedules). The event_changes

    endpoint surfaces an audit trail of schedule modifications.

    '
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
- url: https://api.assembledhq.com
  description: Production Server
security:
- BasicAuth: []
tags:
- name: Agent Associations
  description: Map platform IDs to Assembled people
paths:
  /v0/agents/associations:
    post:
      summary: Assembled Create Agent Associations
      description: Associate platform identifiers (Zendesk, Salesforce, Five9, Intercom, etc.) to Assembled agent IDs.
      operationId: createAgentAssociations
      tags:
      - Agent Associations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                associations:
                  type: array
                  items:
                    type: object
                    properties:
                      agent_id:
                        type: string
                      platform:
                        type: string
                        example: zendesk
                      platform_id:
                        type: string
      responses:
        '201':
          description: Associations created
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
