openapi: 3.1.0
info:
  title: Assembled Activities Assist Responses API
  description: 'Activities are the scheduled shifts, breaks, time-off blocks, training

    sessions, and meetings that make up an agent''s calendar in Assembled.


    The Activities API supports single and bulk activity creation, listing

    with rich filters, soft-delete semantics, and CRUD for activity types

    (the colour-coded categories shown on schedules). The event_changes

    endpoint surfaces an audit trail of schedule modifications.

    '
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
- url: https://api.assembledhq.com
  description: Production Server
security:
- BasicAuth: []
tags:
- name: Assist Responses
paths:
  /v0/assist/responses:
    post:
      summary: Assembled Submit Assist Response
      description: Submit a chat response generated by an Assembled AI Agent.
      operationId: submitAssistResponse
      tags:
      - Assist Responses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssistResponseInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistResponse'
  /v0/assist/responses/handoff:
    get:
      summary: Assembled Get Assist Response Handoff
      description: Retrieve handoff payloads for responses that escalated to a human agent.
      operationId: getAssistResponseHandoff
      tags:
      - Assist Responses
      parameters:
      - in: query
        name: conversation_id
        schema:
          type: string
      - in: query
        name: since
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Handoff payloads
          content:
            application/json:
              schema:
                type: object
                properties:
                  handoffs:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssistHandoff'
components:
  schemas:
    AssistHandoff:
      type: object
      properties:
        id:
          type: string
        conversation_id:
          type: string
        handed_off_at:
          type: string
          format: date-time
        reason:
          type: string
        summary:
          type: string
        transcript:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
                enum:
                - customer
                - ai
                - human
              content:
                type: string
              timestamp:
                type: string
                format: date-time
    AssistResponse:
      allOf:
      - $ref: '#/components/schemas/AssistResponseInput'
      - type: object
        properties:
          id:
            type: string
          created_at:
            type: string
            format: date-time
    AssistResponseInput:
      type: object
      required:
      - conversation_id
      - body
      properties:
        conversation_id:
          type: string
        channel:
          type: string
          enum:
          - chat
          - email
          - sms
          - voice
        body:
          type: string
        confidence:
          type: number
        model:
          type: string
        cited_article_ids:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
