openapi: 3.2.0
info:
  title: Assembled Activities Forecasts API
  description: 'Activities are the scheduled shifts, breaks, time-off blocks, training

    sessions, and meetings that make up an agent''s calendar in Assembled.


    The Activities API supports single and bulk activity creation, listing

    with rich filters, soft-delete semantics, and CRUD for activity types

    (the colour-coded categories shown on schedules). The event_changes

    endpoint surfaces an audit trail of schedule modifications.'
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
- url: https://api.assembledhq.com
  description: Production Server
security:
- BasicAuth: []
tags:
- name: Forecasts
paths:
  /v0/forecasts:
    get:
      summary: Assembled List Forecasts
      operationId: listForecasts
      tags:
      - Forecasts
      parameters:
      - in: query
        name: start_time
        required: true
        schema:
          type: string
          format: date-time
      - in: query
        name: end_time
        required: true
        schema:
          type: string
          format: date-time
      - in: query
        name: queue_ids
        schema:
          type: string
      - in: query
        name: channel
        schema:
          type: string
      responses:
        '200':
          description: Forecasts
          content:
            application/json:
              schema:
                type: object
                properties:
                  forecasts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Forecast'
components:
  schemas:
    Forecast:
      type: object
      properties:
        id:
          type: string
        queue_id:
          type: string
        channel:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        interval_minutes:
          type: integer
          example: 30
        volume:
          type: number
        aht_seconds:
          type: number
        required_agents:
          type: number
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
