openapi: 3.2.0
info:
  title: Assembled Assist Assist Articles API
  description: 'The AI surface of Assembled.


    Submit chat responses generated by AI Agents, manage the knowledge

    articles AI Agents draw from, retrieve conversation histories and

    handoff payloads, and (beta) post AI replies. Powers autonomous

    resolution across chat, email, SMS, and voice plus smart handoffs to

    human agents.'
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
- url: https://api.assembledhq.com
  description: Production Server
security:
- BasicAuth: []
tags:
- name: Assist Articles
paths:
  /v0/assist/articles:
    post:
      summary: Assembled Create Assist Article
      description: Create a knowledge article that AI Agents can reference.
      operationId: createAssistArticle
      tags:
      - Assist Articles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssistArticleInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistArticle'
  /v0/assist/articles/{id}:
    put:
      summary: Assembled Update Assist Article
      operationId: updateAssistArticle
      tags:
      - Assist Articles
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssistArticleInput'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistArticle'
    delete:
      summary: Assembled Delete Assist Article
      operationId: deleteAssistArticle
      tags:
      - Assist Articles
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  schemas:
    AssistArticleInput:
      type: object
      required:
      - title
      - body
      properties:
        title:
          type: string
        body:
          type: string
        tags:
          type: array
          items:
            type: string
        source_url:
          type: string
        published:
          type: boolean
    AssistArticle:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        body:
          type: string
        tags:
          type: array
          items:
            type: string
        source_url:
          type: string
        published:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
