openapi: 3.1.0
info:
  title: Assembled Activities Requirement Types API
  description: 'Activities are the scheduled shifts, breaks, time-off blocks, training

    sessions, and meetings that make up an agent''s calendar in Assembled.


    The Activities API supports single and bulk activity creation, listing

    with rich filters, soft-delete semantics, and CRUD for activity types

    (the colour-coded categories shown on schedules). The event_changes

    endpoint surfaces an audit trail of schedule modifications.

    '
  version: '2026-05-24'
  contact:
    name: Assembled Support
    url: https://support.assembled.com
servers:
- url: https://api.assembledhq.com
  description: Production Server
security:
- BasicAuth: []
tags:
- name: Requirement Types
paths:
  /v0/requirement_types:
    get:
      summary: Assembled List Requirement Types
      operationId: listRequirementTypes
      tags:
      - Requirement Types
      responses:
        '200':
          description: Requirement types
          content:
            application/json:
              schema:
                type: object
                properties:
                  requirement_types:
                    type: array
                    items:
                      $ref: '#/components/schemas/RequirementType'
components:
  schemas:
    RequirementType:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
